# model library / data
model_library/*
notebooks/*
sim_library/*
acc_library/*

# old pickle variables
pickle_archive/*
pickle_vars/pairwise_sims/*
pickle_vars/perturbations/*

# images
image_hold/*

# all notebooks
*.ipynb

# volta logs
*.log
script_logs/*

# data and cache
data
__pycache__